body {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

video {
  object-fit: cover;
}

.linktitle {
  color: aquamarine;
  font-size: 16px;
}

.secondpart {
  font-size: 21px;
  color: gray;
}
